<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<h2><%= @user_query_msg %></h2>


<ul>
  <% @chapters_collection_with_paragraphs_filtered&.each do | idx, matched_chapter | %>
    <li>
      <a href="/chapters/<%= matched_chapter[:number] %>" id="paragraph<%= idx%>"class="pure-menu-link"><%= matched_chapter[:title] %></a>
    </li>
      <% matched_chapter[:paragraphs].each do | matched_paragraph | %>
      <ul>
        <li><%= matched_paragraph %></li>
      </ul>
      <% end %>
  <% end %>
</ul>

