<p>name: <%= @user_name %></p>

<p>email address: <%= @user_email %></p>

<p>interests: <%= comma_separated(@user_interests) %></p>

<ul>
  <% @all_other_users.keys.each do |user| %>
  <li>
    <a href="/users/<%= user%>"><%= user %></a>
  </li>
  <% end %>
</ul>

